.pagelinks > a {
  font-size: 1.2em;
  text-decoration: none;
  color: black;

  padding: 1em;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}

.pagelinks > a:hover {
  background-color: #eaeaeb;
}

.pagelinks {
  display: flex;
  width: 50vw;
  flex-direction: row;
  justify-content: space-around;
}

#pagesFB {
  display: flex;
  justify-content: center;
  margin: 2vh 2vw;
}
