body {
  background: #eaeaeb;
  margin: 0;
  font: verdana;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Maybe add
  background-image: url("<insert link here>");
    baground-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;*/
}

header {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  background: #393e41;
  color: gainsboro;
  text-align: center;
  font-weight: bold;
}

.icon-list {
  display: flex;
  flex-direction: row;
  align-self: center;
}

header a {
  color: gainsboro;
}

header a:hover {
  color: rgb(168, 168, 168);
}

article p {
  width: 50%;
  text-align: justify;
  line-height: 1.5em;
  font-size: 1.25em;
  margin: 0 auto;
}

article a:hover {
  color: #888889;
}

.pagelinks > a {
  text-decoration: none;
  color: black;

  padding: 1em;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}

main {
  padding: 2vh 2vw;
  padding-bottom: 2vh;
  text-align: center;
}

footer {
  margin-top: auto;
  background: #393e41;
  color: gainsboro;
  bottom: 0;
  width: 100vw;
  padding: 1em 3.75em 1em 1em;
}

footer a {
  color: gainsboro;
}

footer a:hover {
  color: rgb(168, 168, 168);
}

.media {
  display: flex;
  justify-content: center;
}

img,
video {
  border: 1px solid black;
}
